#
# Backend Configuration
#

# AWS Profile (required by the backend but also used for other resources)
profile         = "bb-shared-devops"

# S3 bucket
bucket          = "bb-shared-terraform-state-storage-s3"

# AWS Region (required by the backend but also used for other resources)
region          = "us-east-1"

# Encrypt bucket?
encrypt         = true

# DynamoDB Table Name
dynamodb_table  = "bb-shared-terraform-state-lock-dynamo"
