# Main Configuration
project               = "bb"
project_long          = "binbash"
environment           = "shared"
cloudtrail_org_bucket = "bb-sec-cloudtrail-org"
security_account_id   = "900980591242"
shared_account_id     = "763606934258"
shared_vpc_id         = "vpc-0daf6b64cd5aa4dfd"
dev_account_id        = "523857393444"
shared_vpc_cidr_block = "172.17.0.0/20"
dev_vpc_id            = "vpc-022b8207e623f0cf6"
dev_vpc_cidr_block    = "172.17.32.0/20"
dev_internal_zone_id  = "Z1YACO7WS2RN6Q"

