# Project (short name)
project         = "bb"

# Project (long name)
project_long    = "binbash"

# AWS primary region
region_primary = "us-east-1"

# AWS Region for DR replication (required by the backend but also used for other resources)
region_secondary      = "us-east-2"

# Accounts
accounts = {
  management = {
    email = "aws+root@binbash.com.ar",
    id    = 111111111111
  },
  security = {
    email = "binbash-security@binbash.com.ar",
    id    = 222222222222
  },
  shared = {
    email = "binbash-shared@binbash.com.ar",
    id    = 333333333333
  },
  network = {
    email = "binbash-network@binbash.com.ar",
    id    = 444444444444
  },
  apps-devstg = {
    email = "binbash-apps-devstg@binbash.com.ar",
    id    = 555555555555
  },
  apps-prd = {
    email = "binbash-apps-prd@binbash.com.ar",
    id    = 666666666666
  }
  data-science = {
    email = "binbash-data-science@binbash.com.ar",
    id    = 666666666666
  }
}

# External Accounts Integration
external_accounts = {
  drata = {
    aws_account_id  = ""
    aws_external_id = ""
  }
  scale = {
    aws_account_id  = ""
    aws_external_id = ""
  }
  north_cloud = {
    aws_account_id  = ""
  }
}

# AWS SSO
sso_enabled   = true
sso_start_url = "https://leverage.awsapps.com/start"
sso_region    = "us-east-1"


# The following values will be moved to another config file in a future release
#
# Networking

# Enable TGW
enable_tgw = false

# Enable TGW multi region
enable_tgw_multi_region = false

# CDIR blocks handled by the TGW
tgw_cidrs = ["172.0.0.0/8", "10.0.0.0/8"]
