# Project (short name)
project         = "bb"

# Project (long name)
project_long    = "binbash"

# AWS primary region
region_primary = "us-east-1"

# AWS Region for DR replication (required by the backend but also used for other resources)
region_secondary      = "us-east-2"

# Accounts
accounts = {
  root = {
    email = "aws+root@binbash.com.ar",
    id    = 111111111111
  },
  security = {
    email = "binbash-security@binbash.com.ar",
    id    = 222222222222
  },
  shared = {
    email = "binbash-shared@binbash.com.ar",
    id    = 333333333333
  },
  network = {
    email = "binbash-network@binbash.com.ar",
    id    = 444444444444
  },
  apps-devstg = {
    email = "binbash-apps-devstg@binbash.com.ar",
    id    = 555555555555
  },
  apps-prd = {
    email = "binbash-apps-prd@binbash.com.ar",
    id    = 666666666666
  }
}


# Hashicorp Vault private API endpoint
vault_address = "https://bb-le-shared-vault-cluster.private.vault.XXXXXX.aws.hashicorp.cloud:8200"

# Hashicorp Vault token
#
# Vault token that will be used by Terraform to authenticate.
# 1st exec: admin token from https://portal.cloud.hashicorp.com/.
# Following execs:
#   1- Generate GitHub personal access token: https://github.com/settings/tokens
#   2- Click "Generate new token"
#   3- Choose one permission that is required: read:org
#
#  Get vault token from your GH one
#   1- docker run -it vault:1.6.1 sh
#   2- export VAULT_ADDR="https://vault-cluster.private.vault.XXXXXX.aws.hashicorp.cloud:8200"; export VAULT_NAMESPACE="admin"
#   3- vault login -method=github
#   5- input your GH personal access token
#   6- Set /config/common.config -> vault_token="XXXXXXXXXXXXXXXXXXXXXXX"
#
#   NOTE: the admin token from https://portal.cloud.hashicorp.com/ will always work
#   but it's use is defavoured for the nominated GH personal access token for
#   security audit trail reasons
#
vault_token = "s.XXXXXXXXXXXXXXXXXXXXXX.Apshc"

# AWS SSO
sso_enabled   = true
sso_start_url = "https://leverage.awsapps.com/start"
sso_region    = "us-east-1"

# The following values will be moved to another config file in a future release
#
# Networking

# Enable TGW
enable_tgw = false

# Enable TGW multi region
enable_tgw_multi_region = false

# CDIR blocks handled by the TGW
tgw_cidrs = ["172.0.0.0/8", "10.0.0.0/8"]