#
# Note: variables declared here are not used by all sub-directories.
#

# Extra Configuration

# AWS Region for DR replicatin (required by the backend but also used for other resources)
region_secondary      = "us-east-2"

# Account IDs
security_account_id   = "900980591242"
shared_account_id     = "763606934258"
dev_account_id        = "523857393444"

# Security Logs
cloudtrail_org_bucket = "bb-sec-cloudtrail-org"
