#
# Backend Configuration
#

# AWS Profile (required by the backend but also used for other resources)
#profile         = "bb-dev-devops"
profile         = "bb-dev-oaar"

# S3 bucket
bucket          = "bb-dev-terraform-state-storage-s3"

# AWS Region (required by the backend but also used for other resources)
region          = "us-east-1"

# Encrypt bucket?
encrypt         = true
