#
# Important: please keep here only variables that are used by pretty much all
#   the sub-directories.
#

# Project (short name)
project               = "bb"

# Project (long name)
project_long          = "binbash"

# Environment Name
environment           = "dev"


#
# Note: variables declared here are not used by all sub-directories.
# to be moved to extra.config file
#

# Account IDs
security_account_id   = "900980591242"
shared_account_id     = "763606934258"
shared_vpc_id         = "vpc-0daf6b64cd5aa4dfd"
dev_account_id        = "523857393444"

# Network
shared_vpc_cidr_block = "172.17.0.0/20"
shared_aws_internal_zone_id  = "Z1YACO7WS2RN6Q"

# Logs
cloudtrail_org_bucket = "bb-sec-cloudtrail-org"