# Main Configuration
project               = "bb"
environment           = "dev"
security_account_id   = "378390173626"
shared_account_id     = "556823206064"
shared_vpc_id         = "vpc-xxxxxxxxxxxxx"
dev_account_id        = "571945541201"
shared_vpc_cidr_block = "172.17.0.0/20"
dev_vpc_id            = "vpc-xxxxxxxxxxxxxxxxx"
