# Main Configuration
project               = "bb"
project_long          = "binbash"
environment           = "dev"
cloudtrail_org_bucket = "bb-sec-cloudtrail-org"
security_account_id   = "378390173626"
shared_account_id     = "556823206064"
shared_vpc_id         = "vpc-0daf6b64cd5aa4dfd"
dev_account_id        = "523857393444"
shared_vpc_cidr_block = "172.17.0.0/20"
dev_vpc_id            = "vpc-xxxxxxxxxxxxxxxxx"
