#
# Important: please keep here only variables that are used by pretty much all
#   the sub-directories.
#

# Project (short name)
project               = "bb"

# Project (long name)
project_long          = "binbash"

# Environment Name
environment           = "root-org"

#
# Note: variables declared here are not used by all sub-directories.
# to be moved to extra.config file
#

# Account IDs
root_org_account_id   = "754065527950"
security_account_id   = "900980591242"
shared_account_id     = "763606934258"
dev_account_id        = "523857393444"

# Logs
cloudtrail_org_bucket = "bb-sec-cloudtrail-org"